* {
margin: 0;
padding: 0;
}



h1, h2{
    color: cornflowerblue;
    text-align: center;
    margin: 0;


}

p{
    font-family: 'Andada', serif;
    font-size: 1.5em;

}

a {
    text-decoration: none;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 6em;
line-height:1.6em;
    margin-top: 40px;}


h2{
    font-family: 'Andada', serif;
    font-size: 2em;
    line-height:1em;
    margin: 0;
    color:cornflowerblue;
}


input[type=submit] {

      background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    font-family: 'Andada', serif;
    font-weight: bold;


}


.buttonRow{
    width: 80%;
    text-align: center;
}


.buttonRow button{
    display: inline-block;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    font-family: 'Andada', serif;
    font-size: 1.2em;
}

.formdiv {
    width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    margin:auto;
    font-family: 'Andada', serif;
    font-size: 1.2em;
    line-height:1em;
}

.taskDiv {
    background-color: black;
    margin: 20px;
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

#formButton{

    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    font-family: 'Andada', serif;
    font-weight: bold;


}

button {
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    font-family: 'Andada', serif;
    font-weight: bold;
}

button:hover{
     background: #383;
}

.taskEditButton {
    background-color: darkred; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    font-family: 'Andada', serif;
    font-weight: bold;
}

#displayTasks{

    float:left;
}


#viewAll{
    float:left;
}

 #clearTasks{

    float:right;
}

 .showOneDisplay {
     font-color:black;
     font-family: 'Andada', serif;
         font-size: 1.3em;
     line-height:1.9em;
     background-color: #f2f2f2;
}

 .showAllDisplay {
     background-color: cornflowerblue;
     min-height:3em;
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: center;
     width: 30%;
     margin: 10px auto 0;


}

  .encloseAll {
     background-color: #f2f2f2;
    margin: 20px;
padding:2em;
    text-align: center;
     width: 40%;
     margin:auto;
      border-radius: 15px;


}