<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>


<body>
<br> <br>
<h2>You are not authorised to view this page</h2>
<br> <br>

<h3 style="text-align: center"> Please log in and try again </h3>
<br> <br>

<form action="/" method="GET" display="inline-block" style="margin:auto;">
    <input type="submit" value="Log in" display="inline-block" />
</form>



</body>
</html>