<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ the_title }}  </title>

    <link rel="stylesheet" href="static/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">


</head>
<body>

<h1>Task Master</h1>

{% block body %}



{% endblock %}

<br><br><br><br>

<div class="buttonRow">

<button value="view all tasks" class="displayEntries" type="button" id="displayTasks"> View all tasks</button>
<div class="displayEntries"></div>


<button value="Clear all tasks" class="clearEntries" type="button" id="clearTasks"> Clear all tasks</button>
<div class="clearEntries"></div>

<form action="/createnew" id="formButton">
    <input type="submit" value="Create a new task" />
</form>

</div>


<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/javascript.js"></script>
</body>
</html>