<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ the_title }}  </title>

    <link rel="stylesheet" href="static/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

</head>
<body>

<h1>Task Master</h1>

{% block body %}



{% endblock %}



<button value="view all tasks" class="displayEntries" type="button" id="displayTasks"> View all tasks</button>
<div class="displayEntries"></div>


<!--<form action="/showall" method="post">-->
    <!--<button name="showAll" type="submit">Show all tasks</button>-->
<!--</form>-->



<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/javascript.js"></script>
</body>
</html>