<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Task Master </title>

    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Andada" rel="stylesheet">


</head>
<body>

<h1>Task Master</h1>

<br>

{% block body %}



{% endblock %}

<br><br><br><br>

<div class="buttonRow">

<form method="POST" action="/showall">
    <input type="hidden" name="userId" value=" {{ id }} " />
    <input type="submit" value="Show all tasks" class="innerButtons"/>
</form>

<form action="/createnew">
    <input type="submit" value="Create a new task" class="innerButtons"/>
</form>

<form method="POST" action="/clearAll">
    <input type="hidden" name="userId" value=" {{ id }} " />
    <input type="submit" value="Clear all tasks" class="innerButtons"/>
</form>

{% if log %}

<form action="/logout">
    <input type="submit" value="Log out" class="innerButtons"/>
</form>

{% endif %}

</div>


<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/javascript.js"></script>
</body>
</html>


