{% extends 'base.html' %}

{% block body %}

<div class="formdiv">
<form method='POST' action='/shownewtask'>

    <h2> {{ the_title }}</h2>

<table>

    <p>Enter the details of the task you wish to add:</p>

    <tr> <td> Task name: </td> <td> <input name="taskname" type="TEXT" width="60">  </td>    </tr>
    <tr> <td> Detail: </td> <td> <input name="taskdetail" type="TEXT" width="60">  </td>    </tr>
    <tr> <td> Deadline: </td> <td> <input name="taskdeadline" type="TEXT" width="60">  </td>    </tr>


</table>

<p>Click to submit</p>
<p><input value="Create task" type="SUBMIT"></p>




</form>

    <form action="/" id="formButton">
    <input type="submit" value="Cancel" />
</form>


</div>


{% endblock %}


