{% extends 'base.html' %}

{% block body %}

 <h2> {{ the_title }}</h2>

<div class="encloseAll">
    <ul style="list-style: none;">

    <div class="showOneDisplay">
            <li><strong>Task name: </strong>{{ thisTask[0]['taskname'] }} </li>
            <li><strong>Task details:</strong> {{ thisTask[0]['taskdetail'] }}</li>
            <li><strong>Deadline: </strong>{{ thisTask[0]['taskdeadline'] }}</li>
    </ul>




<br>
<div class="formdiv">
<form method='POST' action='/editThisTask'>


    <br>

<table>

    <p>Enter new task details:</p><br>

    <tr> <td> Task name: </td> <td> <input name="taskname" type="TEXT" width="60" value="{{ thisTask[0]['taskname'] }}" >  </td>    </tr>
    <tr> <td> Detail: </td> <td> <input name="taskdetail" type="TEXT" width="60" value="{{ thisTask[0]['taskdetail'] }}" ></td>    </tr>
    <tr> <td> Deadline: </td> <td> <input name="taskdeadline" type="TEXT" width="60" value="{{ thisTask[0]['taskdeadline'] }}">  </td>    </tr>
        <input type="hidden" name="oldName" value=" {{ thisTask[0]['taskname'] }} " />



</table>

<input value="Edit task" type="SUBMIT" class="innerButtons">
</form>

    <form action="/" class="formButton innerButtons">
    <input type="submit" value="Cancel" />
</form>

</div>

</div>










{% endblock %}