{% extends 'base.html' %}

{% block body %}

<div class="encloseAll">
<ul style="list-style: none;">


<form action="/delete" method="POST">

 <div id="showOneDisplay">  <li><strong>Task name: </strong>{{ task[0]['taskname'] }} </li>
     <li><strong>Task details:</strong> {{ task[0]['taskdetail'] }}</li>
  <li><strong>Deadline: </strong>{{ task[0]['taskdeadline'] }}</li></div>
<input type="hidden" name="deleteTask" value=" {{ task[0]['taskname'] }} " />
    <input type="submit" value="Delete this task">

</form>


    <form action="/editselected" method="POST">
    <input type="hidden" name="editTask" value=" {{ task[0]['taskname'] }} " />
    <input type="submit" value="Edit this task">

   </form>


</ul>

    </div>

{% endblock %}