{% extends 'base.html' %}

{% block body %}

 <h2> {{ the_title }}</h2>

<ul style="list-style: none;">


<form action="/delete" method="POST">

 <li>Name: {{ task[0]['taskname'] }} </li>
  <li>Details: {{ task[0]['taskdetail'] }}</li>
  <li>Deadline: {{ task[0]['taskdeadline'] }}</li>
<input type="hidden" name="deleteTask" value=" {{ task[0]['taskname'] }} " />
    <input type="submit" value="Delete this task">

</form>


    <form action="/editselected" method="POST">
    <input type="hidden" name="editTask" value=" {{ task[0]['taskname'] }} " />
    <input type="submit" value="Edit this task">

   </form>


</ul>

<!--<form action="/edit" method="POST">-->
    <!--<input type="submit" value="Edit this task" />-->
<!--</form>-->

<!--<form action="/delete" method="POST">-->
    <!--<input type="submit" name = "Laundry" value="Delete this task" />-->
<!--</form>-->

{% endblock %}