<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Task Master </title>

    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Andada" rel="stylesheet">


</head>
<body>

<h1>Task Master</h1>

<br>

<h2> Sign up</h2>



<br>


<div class="encloseAll" style="padding:5px;">
<div class="formdiv">
<form method='POST' action='/signup'>

    <br>

<table>

    <p>Create an account:</p><br>

    <tr> <td> Username: </td> <td> <input name="username" type="TEXT" width="60">  </td>    </tr>
    <tr> <td> Password: </td> <td> <input name="password" type="TEXT" width="60">  </td>    </tr>

</table>


<input value="Sign up!" type="SUBMIT" display="inline-block">
</form>

</div>


</div>
<br>
<div class="encloseAll" text-align="center" style="padding: 5px;">
    <br>
 <p font-size="1.2em"> Already have an account?</p>
    <br>
<form action="/loginB" display="inline-block">
    <input type="submit" value="Log in" display="inline-block"/>
</form>
    </div>

<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/javascript.js"></script>
</body>
</html>